@font-face { font-family: Quivira; src: url('Quivira.otf'); } 
@font-face { font-family: Veramono; src: url('VeraMono.ttf'); } 
@font-face { font-family: Afta; src: url('Medio.otf'); } 

* {
    border: 0px dashed blue;
    margin:0;
    padding:0;
}
body,html {
    height:100%;
    background:#ddd;
    min-width:500px;
}
#container {
    height:100%;
    position:relative;
}
#wrapper {
    height:50%;
    position:relative;
}

/* Social Pictures -- opacity */

.social{
    opacity:0.3;
    filter:alpha(opacity=30); /* For IE8 and earlier */
    width: 30px;
    height: 30px;
}
.social:hover, .social-sm:hover, .social-lg:hover{
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}
.social-sm{
    opacity:0.3;
    filter:alpha(opacity=30); /* For IE8 and earlier */
    width: 12px;
    height: 12px;
}
.social-lg{
    opacity:0.3;
    filter:alpha(opacity=30); /* For IE8 and earlier */
    width: 120px;
    height: 120px;
}
#top a, .no-uline {
    text-decoration:none;
}


/* Top */

#bigHead {
    z-index:4;
    width:100%;
    height: calc(50% - 6px);
    background: url(ARO.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 4px solid black;
}
h1 {
    z-index:-1;
    text-shadow: 2px 2px 2px black;
    font-family: Quivira, serif;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 120px;
    color:#999;
    text-align: left
    text-wrap: none;
    overflow: visible;
    white-space: nowrap;
    
    position:absolute;
    bottom:0.95em;
    left:0;
}
#top {
    text-align:right;
    float:left;
    width:500px;
    height:100%;
}
#left {
    width: calc(50% - 250px);
    min-width:0px;
    float: left;
    text-align: right;
}
#right {
    width: calc(50% - 250px);
    min-width:0px;
    float: right;
}
#left,#right {
    height:100%;
    font-family: Veramono, monospace;
    overflow:hidden;
    whitespace:pre-wrap;
    word-wrap:break-word;
}

/* Navigation */

#nav {
    position:relative;
    z-index: 5;
    height:50px;
    margin: 0 auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    width: 500px;
    background:#999;
    clear:both;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.menuitem {
    font-family: Veramono, monospace;
    width: auto;
    display: inline-block;
    *display: inline;
    padding: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    height:0px;
    text-decoration:underline;
}
.stretcher {
    width: 100%;
    display: inline-block;
    font-family: Veramono, monospace; 
}
#nav a{
    color:black;
}

/* Content */

#me {
    text-align:center;
    width: 200px;
    padding: 1em;
}

#content {
    position: relative;
    width: 500px;
    margin: 0px auto;
    padding-bottom:0px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background:#999;
    min-height: calc(100% - 3em);   
}
#content a {
    text-decoration:none;
    color:black;
}
#content p {
    font-family: Afta, Veramono, serif;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 1em;
}
h2 {
    text-align: center;
    font-family: Afta, Veramono, monospace;
    text-size:2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Footer */

#foot {
    z-index:3;
    text-align: center;
    width: 500px;
    float: left;
    background: #3f3f3f;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
#leftFoot{
    width: calc(50% - 252px);
    float: left;
    text-align:right;
}
#rightFoot{
    width: calc(50% - 252px);
    float: right;
}
#foot a{
    text-decoration:none;
    color:black;
}
#leftFoot,#rightFoot,#foot {
    z-index:1;
    font-family: monospace;
    overflow:hidden;
    whitespace:no-wrap;
}
#bigfoot {
    width:100%;
    position: fixed;
    bottom: -1px;
}

