	</div>
        <!--div class="medium-3 show-for-medium-up columns" id="content_right">/</div-->
      </div>

      <div id="root_footer"> <!-- required for sticky footer--> </div>

    </div>

    <!-- Footer -->
    <div id="footer">
      <div class="row collapse" id="foot">
        <div class="large-2 medium-1 hide-for-small columns footer_left"><script>write();</script></div>
        <div class="large-8 medium-10 small-12 columns footer_mid">
	  
	  <!--
	  Jump around:</br></br>
	  <a href="{{site.url}}">ABOUT/CONTACT</a> &mdash;
	  <a href="{{site.url}}/blog/">PROJECTS</a></br></br>
	  -->
	  <a href="https://github.com/isaacphi">
	    <img src="{{site.url}}/img/github.gif" class="social-sm"/>
	  </a>
	  <a href="mailto:phil@philisaac.com">
	    <img src="{{site.url}}/img/mail.png" class="social-sm"/>
	  </a>
	  <a href="http://www.linkedin.com/in/philisaac">
	    <img src="{{site.url}}/img/linkedin.png" class="social-sm"/>
	  </a>
	  <a href="http://plus.google.com/+PhilipIsaac93/">
	    <img src="{{site.url}}/img/googleplus.png" class="social-sm"/>
	  </a></br></br>
	  <a href="http://www.gnu.org/copyleft/">Copyleft</a>
	  <span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1);
		     -webkit-transform: scaleX(-1); transform: scaleX(-1);
		     display: inline-block;"> © </span> 2014 - Phil Isaac
        </div>
        <div class="large-2 medium-1 hide-for-small columns footer_right"><script>write();</script></div>
      </div>
    </div>

    <script src="{{site.url}}/bower_components/jquery/jquery.js"></script>
    <script src="{{site.url}}/bower_components/foundation/js/foundation.min.js"></script>
    <script src="{{site.url}}/js/app.js"></script>

  </body>
</html>
