  <body>

    <div id="root">

      <!-- Slideshow -->
      <div class="row collapse" id="bg_slideshow">
        <div class="large-12 columns">
          <!--ul data-orbit>
	    <li class="orbit-item-1"></li>
	    <li class="orbit-item-2"></li>
	    <li class="orbit-item-3"></li>
	    <li class="orbit-item-4"></li>
	    <li class="orbit-item-5"></li>
	    <li class="orbit-item-6"></li>
	    <li class="orbit-item-7"></li>
	    <li class="orbit-item-8"></li>
          </ul-->
        </div>
      </div>  

      <!-- Header -->
      <div class="row collapse" id="header">
        <div class="large-2 medium-1 hide-for-small columns" id="top_left">
          <script>write();</script>
        </div>
        <div class="large-8 medium-10 small-12 small-offset-0 large-offset-2 medium-offset-1 columns " id="top_mid">
	  <div id="nav_wrapper">
            <div class="row">
              <div class="small-6 columns name">
		<a href="{{ site.url }}">Phil Isaac</a>
              </div>
              <div class="small-6 columns nav">
		<a href="{{ site.url }}">About/Contact</a></br>
		<a href="{{ site.url }}/blog/">Projects/Blog</a>
              </div>
            </div>
	  </div>
        </div>
        <div class="large-2 medium-1 hide-for-small columns" id="top_right">
          <script>write();</script>
        </div>
      </div>

      <!-- Body -->
      <div class="row collapse" id="content">
        <!--div class="medium-3 show-for-medium-up columns" id="content_left">/</div-->
        <div class="large-8 medium-10 small-12 small-offset-0 large-offset-2 medium-offset-1 columns" id="content_main">
